body {
  background: #171616;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  flex-wrap: wrap;
  margin: 0auto;
}
.cir1ce {
  width: 30px;
  height: 30px;
  background: #635f5f;
  margin: 2px;
  border-radius: 50px;
  transition: 0.5s;
}
.cir1ce:hover {
  transition: 0.5s;
}

.btnon {
  width: 59px;
  margin-top: 20px;
}
